label {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--dsc-fixa-grayscale-90);
    margin-bottom: 2px;

}

input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--dsc-fixa-grayscale-70);
    
}

input:focus {
    outline:  2px solid var(--accent-color);
}

input::placeholder {
    color: var(--dsc-fixa-grayscale-70);
    font-style: italic;
}