:host {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--dsc-fixa-grayscale-30);
    border-top: 1px solid var(--dsc-fixa-grayscale-50);
    height: 120px;
    padding: 24px var(--page-padding-w);

    & p:last-of-type {
        font-weight: 600;
    }

    @media screen and (max-width: 768px) {
        padding: 24px var(--page-padding-w-breakpoint-768);
    }

    @media screen and (max-width: 480px) {
        padding: 24px var(--page-padding-w-breakpoint-480);
    }


}