<section class="header">
    <div class="header__main-bar">
        <div class="header__box-skew-main"></div>
        <h1>
            <span>Desafio</span>
            <span>TEIA</span>
        </h1>
    </div>
    <div class="header__info-bar">
        <div class="header__box-skew-info"></div>
    </div>
</section>

