:host {
    display: none;
    
}

.mask-popup {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--dsc-fixa-grayscale-white);
    opacity: 0.8;
}

.form-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--dsc-fixa-grayscale-white);
    margin: auto;
    width: 60%;
    min-height: 200px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px;
    border-radius: 8px;
    opacity: 1;
    z-index: 2;
    box-shadow: rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0,0,0,0.05) 0px 4px 6px -2px;
    
    &__title {
        display: flex;
        position: relative;
        justify-content: flex-start;
        align-items: center;
        height: 60px;
        width: 100%;
    }

    &__message {
        font-weight: 500;
        width: 100%;
        margin-top: 12px;
        padding: 0 24px;
        color: var(--dsc-fixa-grayscale-90);

        @media screen and (max-width: 480px) {
            text-align: center;
        }
    }

    &__footer {
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 12px;
        margin-top: 24px;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        border-top: 1px solid var(--dsc-fixa-grayscale-50);

        @media screen and (max-width: 480px) {
            justify-content: center;
        }
    }
    
}