<div class="mask-popup" (click)="close()"></div>
<div class="form-popup">
    <div class="form-popup__title">
        <app-page-title [title]="title"></app-page-title>
    </div>
    <p class="form-popup__message">
        {{message}}
    </p>

    <div class="form-popup__footer" *ngIf="callbackFunction; else simpleFooter">
        <button class="dsc-button auxiliary" (click)="close()">
            <app-icon type="close"></app-icon>
            <span>Não</span>
        </button>
        <button class="dsc-button primary" (click)="executeCallback()">
            <app-icon type="done"></app-icon>
            <span>Sim</span>
        </button>
    </div>
    <ng-template #simpleFooter>
        <div class="form-popup__footer" >
            <button class="dsc-button auxiliary" (click)="close()">
                <app-icon type="close"></app-icon>
                <span>Fechar</span>
            </button>
        </div>
        
    </ng-template>

</div>
