.photo-list__header {
    position: relative;
    display: flex;
    width: 100%;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
    padding-bottom: 12px;


    &__line-1 {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;
        font-size: 0.8rem;
    
        @media screen and (max-width: 480px) {
            flex-direction: column;
            gap: 12px;
        }
    }

    &__count {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        font-weight: 600;
        color: var(--dsc-fixa-grayscale-90);
    
        & span:last-of-type {
            font-size: 0.6rem;
            font-weight: 600;
            color: var(--dsc-fixa-grayscale-90);
            background-color: var(--dsc-fixa-grayscale-30);
            padding: 4px 8px;
            border-radius: 4px;
    
        }
    
       
    }

    &__line-2 {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }
    
    &__search {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 60%;
        @media screen and (max-width: 480px) {
            width: 70%;
        }
    }
    
    
    
    &__order {
        position: relative;
        display: flex;
        flex-direction: column;
    
       
       
    }
    
    &__order-items {
        position: relative;
        display: flex;
        list-style: none;
        gap: 2px;
        & li {
            position: relative;
            display: flex; 
            height: 35.2px;
            justify-content: center;
            align-items: center;
            color: var(--dsc-fixa-grayscale-90);
            border: 1px solid var(--dsc-fixa-grayscale-70);
            border-radius: 4px;
            padding: 0 4px;
            cursor: pointer;
            font-size: 0.8rem;
            
        }
    
        & li.selected {
            background-color: var(--dsc-fixa-primary-10);
            border: 1px solid var(--dsc-fixa-primary-70);
            color: var(--dsc-fixa-primary-70);
        }
    
        @media screen and (max-width: 768px) {
            display: none;
        }
    
        
    }
    
    &__order-select {
        display: none;
        height: 35.2px;
        border-radius: 4px;
    
        @media screen and (max-width: 768px) {
            display: flex;
        }
    }
    
    &__asc {
        display: none;
        flex-direction: column;
        @media screen and (max-width: 768px) {
            display: flex;
        }
    }
    
    &__asc-container {
        display: flex;
        height: 35.2px;
    }
    
    

    &__adicionar-completo {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__adicionar-resumido {
        display: none;
        @media screen and (max-width: 768px) {
            display: flex;
        }
    }

}













