
:host  {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 24px var(--page-padding-w);
    transition: all 0.4s;

    @media screen and (max-width: 768px) {
        padding: 24px var(--page-padding-w-breakpoint-768);
    }

    @media screen and (max-width: 480px) {
        padding: 24px var(--page-padding-w-breakpoint-480);
    }

    a[class^="goto"] {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--dsc-fixa-grayscale-30);
        color: var(--dsc-fixa-grayscale-90);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0.8;
        transition: all 0.4s;
        &:hover {
            box-shadow: rgba(0,0,0,0.1) 0px 20px 25px -5px, rgba(0,0,0,0.04) 0px 10px 10px -5px;
        }

        
    }

    .goto-bottom {
        top: 88px;
        right: 40px;

        @media screen and (max-width: 480px) {
            top: 32px;
        }
    }

    .goto-up {
        bottom: 24px;
        right: 40px;
    }
    
    .photo-list {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 8px;
        box-shadow: rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0,0,0,0.05) 0px 4px 6px -2px;
        padding: 48px;






        &__main {
            position: relative;
            display: flex;
            width: 100%;
        }      

        &__itens-ul {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            list-style: none;
            
            
            & li {
                position: relative;
                display: flex;
                width: 100%;
            }
        }

       



        @media screen and (max-width: 480px) {
            box-shadow: none;
            padding: 24px;
        }

    }
    
}

// @import './list-photos.component-header.scss'