
.photo-list__footer {

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 24px;

    @media screen and (max-width: 480px) {
       flex-direction: column;
       align-items: center;
       gap: 8px;
    }

    & input {
        text-align: center;
        font-weight: 700;
    }

    & .footer__pages-ctl {
        position: relative;
        display: flex;
        gap: 4px;
        align-items: flex-end;


        & .footer__pages {
            position: relative;
            display: flex;
            flex-direction: column;
        }
    }

    & .footer__items-by-page {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    
}