/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;

    @media screen and (max-width: 768px) {
        font-size: 14px;

    }

    @media screen and (max-width: 480px) {
        font-size: 12px;

    }
}

:root {


    /* ======================================================================================================= */
    /* CORES DSC - 2024-02-22 */

    /* PALETA FIXA */

    /* AZUL  */
    --dsc-fixa-primary-130: #002A4D;
    --dsc-fixa-primary-110: #00437A;
    --dsc-fixa-primary-90: #005CA9; /* >>> O tom original */
    --dsc-fixa-primary-70: #2D8AD8;
    --dsc-fixa-primary-50: #6DBAFA;
    --dsc-fixa-primary-30: #A0D2FC;
    --dsc-fixa-primary-10: #E5F1FC;


    /* LARANJA  */
    --dsc-fixa-secondary-130: #663a00;
    --dsc-fixa-secondary-110: #a65e00;
    --dsc-fixa-secondary-90: #d87b00; /* novo tom homologado para melhorar o contraste com o branco */
    --dsc-fixa-secondary-70: #F39200; /* >>> O tom original */
    --dsc-fixa-secondary-50: #FDB548;
    --dsc-fixa-secondary-30: #FFD392;
    --dsc-fixa-secondary-10: #FFEFD6;


    /* TURQUESA */
    --dsc-fixa-tertiary-130: #03453B;
    --dsc-fixa-tertiary-110: #216E62;
    --dsc-fixa-tertiary-90: #359485; 
    --dsc-fixa-tertiary-70: #54BBAB; /* >>> O tom original */
    --dsc-fixa-tertiary-50: #81D6C8;
    --dsc-fixa-tertiary-30: #B9EBE3;
    --dsc-fixa-tertiary-10: #E4F7F4;


    /* GRAYSCALE */
    --dsc-fixa-grayscale-130: #22292E;
    --dsc-fixa-grayscale-110: #404B52;
    --dsc-fixa-grayscale-90: #64747A; 
    --dsc-fixa-grayscale-70: #9EB2B8;
    --dsc-fixa-grayscale-50: #D0E0E3;  /* >>> O tom original */
    --dsc-fixa-grayscale-30: #EBF1F2;
    --dsc-fixa-grayscale-10: #F7FAFA;

    /* BRANCO */
    --dsc-fixa-grayscale-white: #FFFFFF;


    /* PALETA FLEXÍVEL */

    /* CEU */
    --dsc-flex-ceu-130: #003C4D;
    --dsc-flex-ceu-110: #006480;
    --dsc-flex-ceu-90: #008CB2; 
    --dsc-flex-ceu-70: #00B4E6; /* >>> O tom original */
    --dsc-flex-ceu-50: #2EC8F3;  
    --dsc-flex-ceu-30: #6EDBFA;
    --dsc-flex-ceu-10: #D0F5FF;


    /* UVA */
    --dsc-flex-uva-130: #4F213F;
    --dsc-flex-uva-110: #753C61;
    --dsc-flex-uva-90: #93567D; 
    --dsc-flex-uva-70: #B26F9B; /* >>> O tom original */
    --dsc-flex-uva-50: #CE97BB;  
    --dsc-flex-uva-30: #EAC9DE;
    --dsc-flex-uva-10: #F8EAF3;


    /* LIMÃO */
    --dsc-flex-limao-130: #465200;
    --dsc-flex-limao-110: #6D8000;
    --dsc-flex-limao-90: #99B103; 
    --dsc-flex-limao-70: #AFCA0B; /* >>> O tom original */
    --dsc-flex-limao-50: #C5DE31;  
    --dsc-flex-limao-30: #DEF06D;
    --dsc-flex-limao-10: #F5FEC1;


    /* TANGERINA */
    --dsc-flex-tangerina-130: #664800;
    --dsc-flex-tangerina-110: #996C00;
    --dsc-flex-tangerina-90: #D19400; 
    --dsc-flex-tangerina-70: #F9B000; /* >>> O tom original */
    --dsc-flex-tangerina-50: #FAC546;  
    --dsc-flex-tangerina-30: #FCDD92;
    --dsc-flex-tangerina-10: #FFF3D6;


    /* GOIABA */
    --dsc-flex-goiaba-130: #801905;
    --dsc-flex-goiaba-110: #B23820;
    --dsc-flex-goiaba-90: #D8583F; 
    --dsc-flex-goiaba-70: #EF765E; /* >>> O tom original */
    --dsc-flex-goiaba-50: #F79481;  
    --dsc-flex-goiaba-30: #FCBDB0;
    --dsc-flex-goiaba-10: #FFEAE5;




    /* PALETA FEEDBACK */

    /* POSITIVE */
    --dsc-feedback-positive-130: #093A14;
    --dsc-feedback-positive-110: #0D581C;
    --dsc-feedback-positive-90: #127527; /* >>> O tom original */
    --dsc-feedback-positive-70: #179231;
    --dsc-feedback-positive-50: #5CB26E;  
    --dsc-feedback-positive-30: #A2D3AD;
    --dsc-feedback-positive-10: #E7F4EA;


    /* ATTENTION */
    --dsc-feedback-attention-130: #654C02;
    --dsc-feedback-attention-110: #977203;
    --dsc-feedback-attention-90: #CA9804; /* >>> O tom original */
    --dsc-feedback-attention-70: #FCBE05;
    --dsc-feedback-attention-50: #FDD150;  
    --dsc-feedback-attention-30: #FEE5B9;
    --dsc-feedback-attention-10: #FFF9E6;


    /* NEGATIVE */
    --dsc-feedback-negative-130: #661A1A;
    --dsc-feedback-negative-110: #8C2323;
    --dsc-feedback-negative-90: #B22C2C; /* >>> O tom original */
    --dsc-feedback-negative-70: #D93636;
    --dsc-feedback-negative-50: #E47272;  
    --dsc-feedback-negative-30: #F0AFAF;
    --dsc-feedback-negative-10: #FBEBEB;


    /* INFORMATIVE */
    --dsc-feedback-informative-130: #02414C;
    --dsc-feedback-informative-110: #026173;
    --dsc-feedback-informative-90: #038299; /* >>> O tom original */
    --dsc-feedback-informative-70: #04A2BF;
    --dsc-feedback-informative-50: #4FBED2;  
    --dsc-feedback-informative-30: #9BDAE5;
    --dsc-feedback-informative-10: #E5F6F8;

    --accent-color: var(--dsc-flex-ceu-70);

    --page-padding-w: 124px;
    --page-padding-w-breakpoint-768: 80px;
    --page-padding-w-breakpoint-480: 16px;
    --page-header-height: 80px;
    --page-header-info-bar-height: 18px;

}

.dynamic-content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - (var(--page-header-height) + var(--page-header-info-bar-height)));
    overflow-y: auto;

    &__main {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 24px 0;
    }
    &__footer {
        position: relative;
        margin-top: auto;
        width: 100%;
    }
}

@import './app/styles/button.scss';
@import './app/styles/input.scss'