<article class="photo-card">
    <figure class="photo-card__figure">
        <img [src]="photoData?.thumbnailUrl" alt="Imagem com o thumbnail do item">
    </figure>
    <main class="photo-card__main">
        <label for="">Título</label>
        <p>{{ photoData?.title }}</p>
        <div class="info-add">
            <div class="info-add__id">
                Id <span>{{ photoData?.id }}</span>
            </div>
            <div class="info-add__album-id">
                Album <span>{{ photoData?.albumId }}</span>
            </div>
        </div>
    </main>
    <footer class="photo-card__footer">
       
        <button class="dsc-button small auxiliary" (click)="deleteItem(photoData!.id)">
            <app-icon type="trash"></app-icon>
        </button>
    </footer>
</article>
